.contacto {
    font-size: 20px;
    padding: 30px;
    line-height: 23px;
    font-family: "Cinzel", serif;
    background-color: rgb(182, 162, 53);
    font-weight: bold;
    max-width: 95%;
    margin: 2rem auto;
  }