.contacto {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  padding: 30px;
  line-height: 23px;
  font-family: "Pridi", serif;
  background-color: rgb(182, 162, 53);
  font-weight: bold;
  max-width: 80%;
  margin: 2rem auto;
}
