.preguntas {
    color: rgb(136, 106, 50);
    font-family: "Cinzel", serif;
    text-align: center;
}
.preguntas__uno {
    color: rgb(182, 162, 53);
}
.preguntas__dos {
    color: rgb(40, 40, 156);
}
.preguntas__tres {
    color: white;
}
.preguntas__cuatro {
    color: orange;
}