.preguntas {
  display: flex;
  flex-direction: column;
  color: rgb(149, 149, 199);
  font-family: "Pridi", serif;
  margin: 3rem;
  text-align: center;
}
.preguntas__uno {
  color: rgb(139, 167, 168);
}
.preguntas__dos {
  color: rgb(139, 167, 168);
}
.preguntas__tres {
  color: rgb(139, 167, 168);
}
.preguntas__cuatro {
  color: rgb(139, 167, 168);
}
.preguntas__cinco {
  color: rgb(139, 167, 168);
}
.preguntas__seis {
  color: rgb(139, 167, 168);
}
.respuestas {
  color: rgb(224, 223, 223);
}
