.seccionesDos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 70px;
    justify-content: space-evenly;
 }
 .iphone {
     width: 100%;
     max-width: 1200px;
     display: flex;
     flex-wrap: nowrap;
     justify-content: center;
     margin: auto;
 }
 .iphone .iphone__uno {
     width: 100%;
     border-radius: 8px;
     box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
     overflow: hidden;
     margin: 20px;
     text-align: center;
     transition: all 0.25s;
 }
