/*HEADER*/

.header {
  ul {
    list-style: none;

    li:hover {
      -webkit-transform: translate();
      transform: translate();
    }
  }
}

.logo img {
  width: 15rem;
  display: block;
  margin: auto;
  padding: 2rem;
}

.opcionesNav {
  color: white;
  font-family: "Cinzel", serif;
  font-size: 20px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  margin: 20px;
}

.opcionesNav:hover {
  color: #fcd8b0;
}

.separador {
  background-color: white;
  height: 1px;
}
.claseFooter {
  display: flex;
  justify-content: center;
  background-position: bottom;
  background-size: cover;
}

footer ul {
  list-style: none;
  background-color: black;

  li {
    font-size: 30px;
    height: 45px;
    margin: 10px;
    color: #fcd8b0;
  }
}

.pieDePagina {
  color: #fcd8b0;
  font-size: 150%;
  text-align: center;
  background-color: black;
  font-family: "Cinzel", serif;
}
