@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&display=swap");

/*  CTRL + K + C COMENT AUTO */

* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* Por defecto es 100%, 62,5% cambia la base de 16px a 10px */
}

.fondo {
  background-color: black;
}

@import "todas";

@import "index";

@import "productos";

@import "contacto";

@import "preguntasfrecuentes";

@import "mediaqueries";
